{
  "extends": [
    "@opengovsg/eslint-config-opengovsg"
  ],
  "plugins": [
    "mocha",
    "chai-friendly"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-console": ["off", {"allow": ["warn", "error"]}],
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
