{
  "extends": [
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "plugins": [
    "mocha"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": ["error"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "radix": ["error", "as-needed"],
    "require-jsdoc": ["warn"],
    "no-console": ["off", {"allow": ["warn", "error"]}]
  }
}
